/* Card for daily forecast days */

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 250px;
  margin: 20px;
  margin-left: 50px;
  flex-direction: column;
  background-color: #00ffff49;
  color: #fff;
  border-radius: 10px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin-bottom: -5px;
}


.main-temp {
  font-size: 26px;
}

.description {
  text-transform: capitalize;
}

.detail-item {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
}

@media screen and (max-width: 1000px) {
  
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
  .item-container {
    margin-left: 33%;
  }
}

@media screen and (max-width: 499px) {
  .item-container {
    margin-left: 25%;
  }
}