.menu-button {
  display: flex;
  position: absolute;
  right: -40px;
  top: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}


.side-menu {
  position: absolute;
  /* background-color: red; */
  width: 300px;
  left: 0;
  top: 0;
  height: 100%;
}

.side-menu-closed {
  transform: translateX(-300px);
  transition: ease-in-out 0.47s;
}

.side-menu-open {
  width: 300px;
  transform: translateX(0px);
  transition: ease-in-out 0.47s;
}

.menu-item {
  display: flex;
  padding: 5px;
  align-items: center;
  height: 50px;
}

/* Icons */

