.date-time-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 300px;
  color: white;
  z-index: 6;
}

.clock,
.date {
  text-align: end;
  padding: 3px;
}

.clock {
  font-size: 4rem;
}

.date {
  font-size: 1.3rem;
}

@media screen and (max-width: 700px) {
  .date-time-box {
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
}